{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block b_title %}
Login
{% endblock %}
{% block Content %}
	
	<h1 class="text-center col">Login</h1>
	<div class="container">
		<form class=" col-12 col-md-12 mb-3 mx-auto"  method="POST" novalidate>
			{% csrf_token %}
			{{form|crispy}}
			<br/>
			<button class="btn btn-outline-info my-2 my-sm-0 " type="submit">Login</button>
			<br/>
		</form>
		If you don't have an account then <a href="/register" class="liink">Register</a> instead
	</div>

{% endblock %}