{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block b_title %}
Register
{% endblock %}
{% block Content %}
	<h1 class="text-center col">Register</h1>
	<div class="container">
		<form class=" col-12 col-md-12 mb-3 mx-auto"  method="POST" novalidate>
			{% csrf_token %}
			{{form|crispy}}
			<br/>
			<button class="btn btn-outline-info my-2 my-sm-0 " type="submit">Register</button>
			<br/>
		</form>
	If you already have an account then <a href="/login" class='liink' >Login</a> instead
	<br/>

{% endblock %}